@import "tailwindcss";

@theme {
  --spacing-stretch: stretch;

  --font-sans:
    "Segoe UI Variable", "Segoe UI", "Helvetica Neue", "Noto Sans JP", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", sans-serif;

  --color-bg: var(--color-white);
  --color-bg-surface: var(--color-neutral-100);
  --color-fg: var(--color-neutral-950);
  --color-fg-muted: var(--color-neutral-400);

  --color-border: var(--color-neutral-300);
  --color-destructive: var(--color-red-600);
}

body {
  @apply m-0 font-sans bg-bg text-fg border-border;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
